version: '2'
services:

  # The Application
  app:
    container_name: php-app
    build:
      context: ./
      dockerfile: Dockerfile.app
    working_dir: /var/www
    volumes:
      - ./:/var/www

  # The Web Server
  web:
    container_name: php-web
    build:
      context: ./
      dockerfile: Dockerfile.web
    working_dir: /var/www
    volumes_from:
      - app
    ports:
      - 8081:80

